/*
  ======================================================
  10. FOOTER (main-footer)
  ======================================================
*/
.main-footer {
  color: black;
  background-color: white;
  padding: 50px 35px;
}

.footer-content-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Pour le responsive */
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-col {
  flex: 1; /* Permet aux colonnes de prendre de l'espace */
  min-width: 180px; /* Taille minimale pour ne pas avoir de colonnes trop serrées */
}

.footer-logo img {
  max-height: 40px;
  margin-bottom: 15px;
}

.col-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-nav ul li {
  margin-bottom: 10px;
}

.social-media-links {
  display: flex;
  gap: 15px;
  /* Ajuster si le titre n'est pas nécessaire pour cette colonne */
}

.social-media-links a {
  font-size: 24px;
  transition: color 0.3s;
}

.social-media-links a:hover {
  color: var(--color-primary);
}

.footer-bottom {
  max-width: 1200px;
  margin: var(--spacing-md) auto 0 auto;
  padding: 0 20px;
}

.footer-bottom hr {
  border-color: rgba(255, 255, 255, 0.1);
  margin: var(--spacing-sm) 0;
}

.copyright {
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
}
