*{
    padding: 0;
    margin: 0;
    box-shadow: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    margin: 0px 50px;
    background-color: rgb(11, 1, 34);
}
.titre{
    margin: 80px 0px;
    text-align: center;
}
.titre h2{
    font-weight: 500;
    font-size: 20px;
}
.titre p{
    margin-top: 15px;
    text-align: center;
    font-weight: 300;
}
/* session tableau */
.tableau{

    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.tableau table{
    text-align: center;
}
table thead th{
    background-color: white;
    padding: 5px;
    border: none;
}
table td{
    background-color: white;
    border: none;
    padding: 5px;
}
body{
    
}
/* session presentation texte */
.block{
    margin: 10% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.block .texte{
    color: white;
}
.block .texte h2{
    max-width: 310px;
    font-size: 22px;
    font-weight: 500;
}
.block .texte p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 200;
}
.block .texte button{
    margin-top: 40px;
    background-color: red;
    padding: 6px 35px;
    color: white;
    font-size: 15px;
    border: none;
}
.block img{
    width: 450px;
    border-radius: 8px;
}
